In [3]:
import requests
import pandas as pd
import json
import geocoder

In [4]:
# API endpoint URL
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.json?api_key=H0bVyMLzqj1Wd45IS1IxBUygOOwx7nH50dOa68hC&fuel_type=ELEC"

# Make the HTTP request and get the JSON response
response = requests.get(url)
data = response.json()

In [5]:
# Extract relevant fields from JSON and create DataFrame
stations = data['fuel_stations']
df = pd.DataFrame(stations)[['latitude', 'longitude', 'street_address', 'state', 'city', 'zip', 'country', 'id', 'open_date', 'fuel_type_code']]
df.rename(columns={'zip': 'Zip Code'}, inplace=True)
df_ca_stations = df[df['state']== 'CA']
df_ca_stations

,latitude,longitude,street_address,state,city,Zip Code,country,id,open_date,fuel_type_code
0,34.248319,-118.387971,11797 Truesdale St,CA,Sun Valley,91352,US,1517,1999-10-15,ELEC
1,34.040539,-118.271387,1201 S Figueroa St,CA,Los Angeles,90015,US,1523,1995-08-30,ELEC
2,34.059133,-118.248589,111 N Hope St,CA,Los Angeles,90012,US,1525,1999-10-15,ELEC
3,33.759802,-118.096665,6801 E 2nd St,CA,Long Beach,90803,US,1531,2018-05-01,ELEC
4,33.770508,-118.265628,161 N Island Ave,CA,Wilmington,90744,US,1552,1999-10-15,ELEC
...,...,...,...,...,...,...,...,...,...,...
71505,33.844484,-118.328975,465 Crenshaw Blvd,CA,Torrance,90503,US,332313,2024-04-16,ELEC
71506,33.844676,-118.329635,465 Crenshaw Blvd,CA,Torrance,90503,US,332314,2024-04-16,ELEC
71518,39.189433,-123.210383,2800 N State St,CA,Ukiah,95482,US,332327,2024-04-16,ELEC
71634,33.860863,-118.078703,18750 Clarkdale Ave,CA,Artesia,90701,US,332453,2024-04-17,ELEC
71636,33.842734,-118.330389,485 Crenshaw Blvd,CA,Torrance,90503,US,332455,2024-04-17,ELEC

Work for California EV Registration with Latitude and Longitude

In [6]:
df_ca_stations.to_csv('CA_Stations.csv', index=False)

In [7]:
# Read the first CSV file
df1 = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/CA_EV_Registration_2020.csv')

# Read the second CSV file
df2 = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/CA_EV_Registration_2021.csv')

# Read the third CSV file
df3 = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/CA_EV_Registration_2022.csv')

# Concatenate the DataFrames vertically
result_df = pd.concat([df1, df2, df3], ignore_index=True)

# Filter the DataFrame to only include rows where the "Fuel" column is "Battery Electric"
battery_electric_df = result_df[result_df['Fuel'] == 'Battery Electric']

# Sort the filtered DataFrame by the "Date" column
sorted_battery_electric_df = battery_electric_df.sort_values(by='Date')

# Print the sorted DataFrame
sorted_battery_electric_df

C:\Users\marti\AppData\Local\Temp\ipykernel_1744\461460582.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/CA_EV_Registration_2020.csv')
C:\Users\marti\AppData\Local\Temp\ipykernel_1744\461460582.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/CA_EV_Registration_2021.csv')
C:\Users\marti\AppData\Local\Temp\ipykernel_1744\461460582.py:8: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/CA_EV_Registration_2022.csv')

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
20583,1/1/2020,92220,2007,Battery Electric,OTHER/UNK,Light,1
442267,1/1/2020,90270,2018,Battery Electric,OTHER/UNK,Light,3
442268,1/1/2020,90272,2018,Battery Electric,OTHER/UNK,Light,20
442269,1/1/2020,90274,2018,Battery Electric,OTHER/UNK,Light,24
442270,1/1/2020,90275,2018,Battery Electric,OTHER/UNK,Light,10
...,...,...,...,...,...,...,...
1524410,1/1/2022,92310,2022,Battery Electric,OTHER/UNK,Light,1
1524402,1/1/2022,92310,2021,Battery Electric,OTHER/UNK,Light,6
1524384,1/1/2022,92310,2020,Battery Electric,OTHER/UNK,Light,2
1523397,1/1/2022,92307,2019,Battery Electric,TESLA,Light,17
2002827,1/1/2022,OOS,<2008,Battery Electric,OTHER/UNK,Light,2

In [8]:
sorted_battery_electric_df = sorted_battery_electric_df [sorted_battery_electric_df['Zip Code'] != 'OOS']
sorted_battery_electric_df.to_csv('CA_EV_Registration_2020-2022.csv', index=False)
sorted_battery_electric_df

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
20583,1/1/2020,92220,2007,Battery Electric,OTHER/UNK,Light,1
442267,1/1/2020,90270,2018,Battery Electric,OTHER/UNK,Light,3
442268,1/1/2020,90272,2018,Battery Electric,OTHER/UNK,Light,20
442269,1/1/2020,90274,2018,Battery Electric,OTHER/UNK,Light,24
442270,1/1/2020,90275,2018,Battery Electric,OTHER/UNK,Light,10
...,...,...,...,...,...,...,...
1524519,1/1/2022,92311,2011,Battery Electric,OTHER/UNK,Light,2
1524410,1/1/2022,92310,2022,Battery Electric,OTHER/UNK,Light,1
1524402,1/1/2022,92310,2021,Battery Electric,OTHER/UNK,Light,6
1524384,1/1/2022,92310,2020,Battery Electric,OTHER/UNK,Light,2
1523397,1/1/2022,92307,2019,Battery Electric,TESLA,Light,17

In [9]:
# Merge the DataFrames on the 'zip' column
CA_EV_Registration_LatLong_df = pd.merge(sorted_battery_electric_df, df_ca_stations, on='Zip Code', how='inner')

# Print the merged DataFrame
CA_EV_Registration_LatLong_df

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles,latitude,longitude,street_address,state,city,country,id,open_date,fuel_type_code
0,1/1/2020,92220,2007,Battery Electric,OTHER/UNK,Light,1,33.931748,-116.945951,600 N Highland Springs Ave,CA,Banning,US,66638,2014-04-01,ELEC
1,1/1/2020,92220,2007,Battery Electric,OTHER/UNK,Light,1,33.924926,-116.899774,2140 W. Ramsey Street,CA,Banning,US,99127,2015-07-01,ELEC
2,1/1/2020,92220,2007,Battery Electric,OTHER/UNK,Light,1,33.911467,-116.868371,1475-1591 S Hargrave St,CA,Banning,US,160633,2020-06-12,ELEC
3,1/1/2020,92220,2007,Battery Electric,OTHER/UNK,Light,1,33.928077,-116.945267,6261 Joshua Palmer Way,CA,Banning,US,189890,2021-01-27,ELEC
4,1/1/2020,92220,2007,Battery Electric,OTHER/UNK,Light,1,33.929657,-116.946246,60 N. Highland Springs Drive,CA,Banning,US,194903,2011-12-29,ELEC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614181,1/1/2022,96091,2014,Battery Electric,OTHER/UNK,Light,1,41.084381,-122.718455,475 Coffee Creek Rd,CA,Coffee Creek,US,112928,2016-01-26,ELEC
614182,1/1/2022,96101,2015,Battery Electric,OTHER/UNK,Light,1,41.482442,-120.542075,304 S Main St,CA,Alturas,US,112839,2016-03-18,ELEC
614183,1/1/2022,96101,2015,Battery Electric,OTHER/UNK,Light,1,41.495392,-120.559776,1200 West 12th Street,CA,Alturas,US,190479,2021-05-23,ELEC
614184,1/1/2022,96101,2018,Battery Electric,OTHER/UNK,Light,1,41.482442,-120.542075,304 S Main St,CA,Alturas,US,112839,2016-03-18,ELEC
614185,1/1/2022,96101,2018,Battery Electric,OTHER/UNK,Light,1,41.495392,-120.559776,1200 West 12th Street,CA,Alturas,US,190479,2021-05-23,ELEC

In [10]:
CA_EV_Registration_LatLong_df = CA_EV_Registration_LatLong_df[['state', 'Zip Code', 'Date', 'Fuel', 'Vehicles', 'latitude', 'longitude']]

# Print the reordered DataFrame
CA_EV_Registration_LatLong_df

,state,Zip Code,Date,Fuel,Vehicles,latitude,longitude
0,CA,92220,1/1/2020,Battery Electric,1,33.931748,-116.945951
1,CA,92220,1/1/2020,Battery Electric,1,33.924926,-116.899774
2,CA,92220,1/1/2020,Battery Electric,1,33.911467,-116.868371
3,CA,92220,1/1/2020,Battery Electric,1,33.928077,-116.945267
4,CA,92220,1/1/2020,Battery Electric,1,33.929657,-116.946246
...,...,...,...,...,...,...,...
614181,CA,96091,1/1/2022,Battery Electric,1,41.084381,-122.718455
614182,CA,96101,1/1/2022,Battery Electric,1,41.482442,-120.542075
614183,CA,96101,1/1/2022,Battery Electric,1,41.495392,-120.559776
614184,CA,96101,1/1/2022,Battery Electric,1,41.482442,-120.542075
614185,CA,96101,1/1/2022,Battery Electric,1,41.495392,-120.559776

In [11]:
CA_EV_Registration_LatLong_df.rename(columns={'state': 'State', 'Vehicles': 'Vehicle Count', 'latitude':'Latitude', 'longitude': 'Longitude'}, inplace=True)

# Print the DataFrame
CA_EV_Registration_LatLong_df

C:\Users\marti\AppData\Local\Temp\ipykernel_1744\3540213743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CA_EV_Registration_LatLong_df.rename(columns={'state': 'State', 'Vehicles': 'Vehicle Count', 'latitude':'Latitude', 'longitude': 'Longitude'}, inplace=True)

,State,Zip Code,Date,Fuel,Vehicle Count,Latitude,Longitude
0,CA,92220,1/1/2020,Battery Electric,1,33.931748,-116.945951
1,CA,92220,1/1/2020,Battery Electric,1,33.924926,-116.899774
2,CA,92220,1/1/2020,Battery Electric,1,33.911467,-116.868371
3,CA,92220,1/1/2020,Battery Electric,1,33.928077,-116.945267
4,CA,92220,1/1/2020,Battery Electric,1,33.929657,-116.946246
...,...,...,...,...,...,...,...
614181,CA,96091,1/1/2022,Battery Electric,1,41.084381,-122.718455
614182,CA,96101,1/1/2022,Battery Electric,1,41.482442,-120.542075
614183,CA,96101,1/1/2022,Battery Electric,1,41.495392,-120.559776
614184,CA,96101,1/1/2022,Battery Electric,1,41.482442,-120.542075
614185,CA,96101,1/1/2022,Battery Electric,1,41.495392,-120.559776

In [60]:
CA_EV_Registration_LatLong_df.to_csv('CA_EV_Registration_LatLong_2020-2022.csv', index=False)

Work for Tennessee EV Registration with Latitude and Longitude

In [14]:
TN_EV_Registrations = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/TN_EV_Registrations.csv')
TN_EV_Registrations

,State,County,Registration Date,Vehicle Make,Vehicle Model,Vehicle Model Year,Drivetrain Type,Vehicle GVWR Class,Vehicle Category,Vehicle Count,DMV Snapshot ID,DMV Snapshot (Date),Latest DMV Snapshot Flag
0,TN,Wilson County,3/1/2022,CHEVROLET,VOLT,2013,PHEV,1,Light-Duty (Class 1-2A),1,13,DMV Snpashot (3/31/2022),False
1,TN,Blount County,3/1/2022,CHEVROLET,VOLT,2013,PHEV,1,Light-Duty (Class 1-2A),1,13,DMV Snpashot (3/31/2022),False
2,TN,Bedford County,3/1/2022,CHEVROLET,VOLT,2013,PHEV,1,Light-Duty (Class 1-2A),1,13,DMV Snpashot (3/31/2022),False
3,TN,Knox County,3/1/2022,CHEVROLET,VOLT,2013,PHEV,1,Light-Duty (Class 1-2A),1,13,DMV Snpashot (3/31/2022),False
4,TN,Lawrence County,3/1/2022,CHEVROLET,VOLT,2013,PHEV,1,Light-Duty (Class 1-2A),1,13,DMV Snpashot (3/31/2022),False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101454,TN,Madison County,3/1/2023,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),4,17,DMV Snapshot (3/31/2023),False
101455,TN,McMinn County,9/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),4,15,DMV Snapshot (9/30/2022),False
101456,TN,Maury County,9/1/2021,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),4,11,DMV Snpashot (9/30/2021),False
101457,TN,Rutherford County,3/1/2019,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),4,1,DMV Snpashot (3/31/2019),False
101458,TN,Bradley County,9/1/2020,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),4,7,DMV Snpashot (9/30/2020),False

In [16]:
US_counties = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/uscounties.csv')
US_counties

,county,county_ascii,county_full,county_fips,state_id,state_name,lat,lng,population
0,Los Angeles,Los Angeles,Los Angeles County,6037,CA,California,34.3219,-118.2247,9936690
1,Cook,Cook,Cook County,17031,IL,Illinois,41.8401,-87.8168,5225367
2,Harris,Harris,Harris County,48201,TX,Texas,29.8578,-95.3938,4726177
3,Maricopa,Maricopa,Maricopa County,4013,AZ,Arizona,33.3490,-112.4915,4430871
4,San Diego,San Diego,San Diego County,6073,CA,California,33.0343,-116.7351,3289701
...,...,...,...,...,...,...,...,...,...
3139,Blaine,Blaine,Blaine County,31009,NE,Nebraska,41.9128,-99.9768,384
3140,King,King,King County,48269,TX,Texas,33.6165,-100.2558,216
3141,Kenedy,Kenedy,Kenedy County,48261,TX,Texas,26.9285,-97.7017,116
3142,Loving,Loving,Loving County,48301,TX,Texas,31.8493,-103.5800,96
3143,Kalawao,Kalawao,Kalawao County,15005,HI,Hawaii,21.1709,-156.9475,50

In [17]:
TN_counties = US_counties[US_counties['state_id']=='TN']
TN_counties_sorted = TN_counties[['county_full', 'county_fips', 'state_id', 'lat', 'lng']]
TN_counties_sorted.rename(columns={'county_full': 'County', 'county_fips': 'County Zip','state_id': 'State', 'lat':'Latitude', 'lng': 'Longitude'}, inplace=True)
TN_counties_sorted

C:\Users\marti\AppData\Local\Temp\ipykernel_1744\501323893.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TN_counties_sorted.rename(columns={'county_full': 'County', 'county_fips': 'County Zip','state_id': 'State', 'lat':'Latitude', 'lng': 'Longitude'}, inplace=True)

                 County  County Zip State  Latitude  Longitude
59        Shelby County       47157    TN   35.1842   -89.8940
94      Davidson County       47037    TN   36.1695   -86.7848
148         Knox County       47093    TN   35.9932   -83.9371
198     Hamilton County       47065    TN   35.1808   -85.1648
211   Rutherford County       47149    TN   35.8427   -86.4167
...                 ...         ...   ...       ...        ...
2670        Lake County       47095    TN   36.3352   -89.4935
2681     Hancock County       47067    TN   36.5236   -83.2219
2695       Moore County       47127    TN   35.2846   -86.3587
2724   Van Buren County       47175    TN   35.6960   -85.4526
2822     Pickett County       47137    TN   36.5584   -85.0749

[95 rows x 5 columns]

In [18]:
TN_EV_Registration_LatLong_df = pd.merge(TN_EV_Registrations, TN_counties_sorted, on='County', how='inner')
TN_EV_Registration_LatLong_df

,State_x,County,Registration Date,Vehicle Make,Vehicle Model,Vehicle Model Year,Drivetrain Type,Vehicle GVWR Class,Vehicle Category,Vehicle Count,DMV Snapshot ID,DMV Snapshot (Date),Latest DMV Snapshot Flag,County Zip,State_y,Latitude,Longitude
0,TN,Wilson County,3/1/2022,CHEVROLET,VOLT,2013,PHEV,1,Light-Duty (Class 1-2A),1,13,DMV Snpashot (3/31/2022),False,47189,TN,36.1547,-86.2973
1,TN,Wilson County,3/1/2022,CHEVROLET,VOLT,2013,PHEV,1,Light-Duty (Class 1-2A),1,13,DMV Snpashot (3/31/2022),False,47189,TN,36.1547,-86.2973
2,TN,Wilson County,3/1/2022,CHEVROLET,VOLT,2013,PHEV,1,Light-Duty (Class 1-2A),1,13,DMV Snpashot (3/31/2022),False,47189,TN,36.1547,-86.2973
3,TN,Wilson County,12/1/2019,CHEVROLET,VOLT,2013,PHEV,1,Light-Duty (Class 1-2A),1,4,DMV Snpashot (12/31/2019),False,47189,TN,36.1547,-86.2973
4,TN,Wilson County,12/1/2019,CHEVROLET,VOLT,2013,PHEV,1,Light-Duty (Class 1-2A),1,4,DMV Snpashot (12/31/2019),False,47189,TN,36.1547,-86.2973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101028,TN,Lake County,9/1/2023,TESLA,MODEL 3,2019,BEV,1,Light-Duty (Class 1-2A),1,19,DMV Snapshot (9/30/2023),False,47095,TN,36.3352,-89.4935
101029,TN,Lake County,12/1/2023,TOYOTA,BZ4X,2023,BEV,1,Light-Duty (Class 1-2A),1,20,DMV Snapshot (12/31/2023),True,47095,TN,36.3352,-89.4935
101030,TN,Lake County,12/1/2023,VOLKSWAGEN,ID.4,2021,BEV,1,Light-Duty (Class 1-2A),1,20,DMV Snapshot (12/31/2023),True,47095,TN,36.3352,-89.4935
101031,TN,Lake County,9/1/2023,MERCEDES-BENZ,EQS-CLASS SUV,2023,BEV,2A,Light-Duty (Class 1-2A),1,19,DMV Snapshot (9/30/2023),False,47095,TN,36.3352,-89.4935
101032,TN,Lake County,12/1/2023,MERCEDES-BENZ,EQS-CLASS SUV,2023,BEV,2A,Light-Duty (Class 1-2A),1,20,DMV Snapshot (12/31/2023),True,47095,TN,36.3352,-89.4935

In [19]:
TN_EV_Registration_LatLong_df_cleaned = TN_EV_Registration_LatLong_df[['State_x', 'County', 'County Zip','Registration Date', 'Drivetrain Type', 'Vehicle Count', 'Latitude', 'Longitude']]
TN_EV_Registration_LatLong_df_cleaned = TN_EV_Registration_LatLong_df_cleaned[TN_EV_Registration_LatLong_df_cleaned['Drivetrain Type'] == 'BEV']
TN_EV_Registration_LatLong_df_cleaned.rename(columns={'State_x': 'State', 'County Zip': 'Zip Code','Registration Date': 'Date', 'Drivetrain Type':'Fuel'}, inplace=True)
TN_EV_Registration_LatLong_df_cleaned = TN_EV_Registration_LatLong_df_cleaned.drop(columns=['County'])
TN_EV_Registration_LatLong_df_cleaned

       State  Zip Code       Date Fuel  Vehicle Count  Latitude  Longitude
274       TN     47189   3/1/2022  BEV              1   36.1547   -86.2973
275       TN     47189   3/1/2023  BEV              1   36.1547   -86.2973
276       TN     47189  12/1/2022  BEV              1   36.1547   -86.2973
277       TN     47189   6/1/2023  BEV              1   36.1547   -86.2973
278       TN     47189  12/1/2021  BEV              1   36.1547   -86.2973
...      ...       ...        ...  ...            ...       ...        ...
101028    TN     47095   9/1/2023  BEV              1   36.3352   -89.4935
101029    TN     47095  12/1/2023  BEV              1   36.3352   -89.4935
101030    TN     47095  12/1/2023  BEV              1   36.3352   -89.4935
101031    TN     47095   9/1/2023  BEV              1   36.3352   -89.4935
101032    TN     47095  12/1/2023  BEV              1   36.3352   -89.4935

[51777 rows x 7 columns]

In [29]:
TN_EV_Registration_LatLong_df_cleaned.to_csv('TN_EV_Registration_LatLong_2020-2022.csv', index=False)

Work for North Carolina EV Registration with Latitude and Longitude

In [30]:
NC_EV_Registration = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/NC_EV_Registrations.csv')
NC_EV_Registration

C:\Users\marti\AppData\Local\Temp\ipykernel_1744\1660867830.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  NC_EV_Registration = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/NC_EV_Registrations.csv')

,State,ZIP Code,Registration Date,Vehicle Make,Vehicle Model,Vehicle Model Year,Drivetrain Type,Vehicle GVWR Class,Vehicle Category,Vehicle Count,DMV Snapshot ID,DMV Snapshot (Date),Latest DMV Snapshot Flag
0,NC,28451,7/1/2023,TESLA,MODEL 3,2021,BEV,1,Light-Duty (Class 1-2A),1,3,DMV Snapshot (11/1/2023),True
1,NC,27562,7/1/2023,TESLA,MODEL 3,2021,BEV,1,Light-Duty (Class 1-2A),1,3,DMV Snapshot (11/1/2023),True
2,NC,28227,7/1/2023,TESLA,MODEL 3,2021,BEV,1,Light-Duty (Class 1-2A),1,3,DMV Snapshot (11/1/2023),True
3,NC,27516,7/1/2023,TESLA,MODEL 3,2021,BEV,1,Light-Duty (Class 1-2A),1,3,DMV Snapshot (11/1/2023),True
4,NC,28512,7/1/2023,TESLA,MODEL 3,2021,BEV,1,Light-Duty (Class 1-2A),1,3,DMV Snapshot (11/1/2023),True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117796,NC,Error,11/1/2022,FORD,TRANSIT,2022,BEV,2B,Medium-Duty Vehicle (Class 2B - 6),3,2,DMV Snapshot (2/3/2023),False
117797,NC,Error,12/1/2022,FORD,TRANSIT,2022,BEV,2B,Medium-Duty Vehicle (Class 2B - 6),3,2,DMV Snapshot (2/3/2023),False
117798,NC,Error,7/1/2022,FORD,TRANSIT,2022,BEV,2B,Medium-Duty Vehicle (Class 2B - 6),3,2,DMV Snapshot (2/3/2023),False
117799,NC,Error,1/1/2023,GILLIG,LOW FLOOR BUS,2022,BEV,7,Heavy-Duty Vehicle (Class 7-8),3,2,DMV Snapshot (2/3/2023),False
117800,NC,Error,7/1/2022,FORD,TRANSIT,2022,BEV,2B,Medium-Duty Vehicle (Class 2B - 6),3,2,DMV Snapshot (2/3/2023),False

In [46]:
NC_EV_Registration_BEV = NC_EV_Registration[NC_EV_Registration["Drivetrain Type"] == "BEV"]
NC_EV_Registration_BEV = NC_EV_Registration_BEV[['State', 'ZIP Code','Registration Date', 'Drivetrain Type']]
NC_EV_Registration_BEV

       State ZIP Code Registration Date Drivetrain Type
0         NC    28451          7/1/2023             BEV
1         NC    27562          7/1/2023             BEV
2         NC    28227          7/1/2023             BEV
3         NC    27516          7/1/2023             BEV
4         NC    28512          7/1/2023             BEV
...      ...      ...               ...             ...
117796    NC    Error         11/1/2022             BEV
117797    NC    Error         12/1/2022             BEV
117798    NC    Error          7/1/2022             BEV
117799    NC    Error          1/1/2023             BEV
117800    NC    Error          7/1/2022             BEV

[77417 rows x 4 columns]

In [47]:
# Dropping all the "Error" data in Zip Code column
NC_EV_Registration_BEV_clean = NC_EV_Registration_BEV[NC_EV_Registration_BEV['ZIP Code'] != 'Error']
NC_EV_Registration_BEV_clean

       State ZIP Code Registration Date Drivetrain Type
0         NC    28451          7/1/2023             BEV
1         NC    27562          7/1/2023             BEV
2         NC    28227          7/1/2023             BEV
3         NC    27516          7/1/2023             BEV
4         NC    28512          7/1/2023             BEV
...      ...      ...               ...             ...
116400    NC    27517               NaN             BEV
116401    NC    27705               NaN             BEV
116402    NC    28806               NaN             BEV
116403    NC    27704               NaN             BEV
116404    NC    75266               NaN             BEV

[74468 rows x 4 columns]

In [61]:
# Dropping all the NaN values in "Registration Date"
NC_EV_Registration_clean2 = NC_EV_Registration_BEV_clean.dropna(subset=['Registration Date'])
NC_EV_Registration_clean2.rename(columns={'ZIP Code': 'Zip Code'}, inplace=True)
NC_EV_Registration_clean2

C:\Users\marti\AppData\Local\Temp\ipykernel_1744\5166287.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NC_EV_Registration_clean2.rename(columns={'ZIP Code': 'Zip Code'}, inplace=True)

       State Zip Code Registration Date Drivetrain Type
0         NC    28451          7/1/2023             BEV
1         NC    27562          7/1/2023             BEV
2         NC    28227          7/1/2023             BEV
3         NC    27516          7/1/2023             BEV
4         NC    28512          7/1/2023             BEV
...      ...      ...               ...             ...
116300    NC    95814         10/1/2020             BEV
116301    NC    95865          3/1/2021             BEV
116302    NC    95865          4/1/2021             BEV
116303    NC    95865          6/1/2021             BEV
116304    NC    95865          3/1/2021             BEV

[72717 rows x 4 columns]

In [52]:
NC_EV_Registration_clean2.to_csv('NC_EV_Registration_BEV.csv', index=False)

In [63]:
df_nc_stations = df[df['state']== 'NC']
df_nc_stations_unique = df_nc_stations.drop_duplicates(subset=['Zip Code'])
df_nc_stations_unique

,latitude,longitude,street_address,state,city,Zip Code,country,id,open_date,fuel_type_code
203,35.778416,-78.643470,285 W Hargett St,NC,Raleigh,27601,US,39016,2010-10-15,ELEC
468,35.392090,-80.622770,967 Concord Pkwy S,NC,Concord,28027,US,40066,2011-03-15,ELEC
469,35.041960,-78.956520,4559 Raeford Rd,NC,Fayetteville,28304,US,40067,2011-03-15,ELEC
470,35.937840,-79.996290,1810 S Main St,NC,High Point,27260,US,40068,2011-03-15,ELEC
471,34.634487,-78.997134,1949 Roberts Ave,NC,Lumberton,28358,US,40069,2011-03-15,ELEC
...,...,...,...,...,...,...,...,...,...,...
71427,34.902919,-79.711290,1042 W Hamlet Ave,NC,Hamlet,28345,US,332229,2024-04-13,ELEC
71456,34.327864,-78.826009,602 N Brown Street,NC,Chadbourn,28431,US,332258,2024-04-13,ELEC
71473,35.854523,-81.483841,2855 Hickory Blvd,NC,Hudson,28638,US,332275,2024-04-13,ELEC
71486,35.248576,-81.673364,11 Littlefield Ct,NC,Boiling Springs,28017,US,332288,2024-04-13,ELEC
71623,36.490661,-79.762750,608 Washington Street,NC,Eden,27288,US,332441,2024-04-16,ELEC

In [85]:
NC_EV_Registration_LatLong_2020_2022= pd.merge(NC_EV_Registration_clean2, df_nc_stations_unique, on='Zip Code', how='inner')
NC_EV_Registration_LatLong_2020_2022 = NC_EV_Registration_LatLong_2020_2022[['State', 'Zip Code', 'Registration Date', 'Drivetrain Type', 'latitude', 'longitude']]
NC_EV_Registration_LatLong_2020_2022.rename(columns={'Registration Date': 'Date', 'Drivetrain Type':'Fuel', 'latitude': 'Latitude', 'longitude':'Longitude'}, inplace=True)
NC_EV_Registration_LatLong_2020_2022

      State Zip Code       Date Fuel   Latitude  Longitude
0        NC    28451   7/1/2023  BEV  34.201645 -78.045110
1        NC    28451   9/1/2023  BEV  34.201645 -78.045110
2        NC    28451   8/1/2023  BEV  34.201645 -78.045110
3        NC    28451   3/1/2023  BEV  34.201645 -78.045110
4        NC    28451   6/1/2023  BEV  34.201645 -78.045110
...     ...      ...        ...  ...        ...        ...
59689    NC    27915  10/1/2022  BEV  35.346990 -75.503559
59690    NC    27915   8/1/2023  BEV  35.346990 -75.503559
59691    NC    28280   5/1/2021  BEV  35.226660 -80.843191
59692    NC    28398   4/1/2023  BEV  34.992684 -78.135542
59693    NC    28398  12/1/2022  BEV  34.992684 -78.135542

[59694 rows x 6 columns]

In [87]:
NC_EV_Registration_LatLong_2020_2022.to_csv('NC_EV_Registration_LatLong_2020-2022.csv')