In [1]:
import requests
import pandas as pd
import json
import geocoder

In [2]:
# API endpoint URL
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.json?api_key=H0bVyMLzqj1Wd45IS1IxBUygOOwx7nH50dOa68hC&fuel_type=ELEC"

# Make the HTTP request and get the JSON response
response = requests.get(url)
data = response.json()

In [3]:
# Extract relevant fields from JSON and create DataFrame
stations = data['fuel_stations']
df = pd.DataFrame(stations)[['latitude', 'longitude', 'street_address', 'state', 'city', 'zip', 'country', 'id', 'open_date', 'fuel_type_code']]
df.rename(columns={'zip': 'Zip Code'}, inplace=True)
df_ca_stations = df[df['state']== 'CA']
df_ca_stations

,latitude,longitude,street_address,state,city,Zip Code,country,id,open_date,fuel_type_code
0,34.248319,-118.387971,11797 Truesdale St,CA,Sun Valley,91352,US,1517,1999-10-15,ELEC
1,34.040539,-118.271387,1201 S Figueroa St,CA,Los Angeles,90015,US,1523,1995-08-30,ELEC
2,34.059133,-118.248589,111 N Hope St,CA,Los Angeles,90012,US,1525,1999-10-15,ELEC
3,33.759802,-118.096665,6801 E 2nd St,CA,Long Beach,90803,US,1531,2018-05-01,ELEC
4,33.770508,-118.265628,161 N Island Ave,CA,Wilmington,90744,US,1552,1999-10-15,ELEC
...,...,...,...,...,...,...,...,...,...,...
71448,33.655009,-117.745519,400 Spectrum Center Dr,CA,Irvine,92618,US,332187,2024-04-13,ELEC
71449,33.655011,-117.745575,400 Spectrum Center Dr,CA,Irvine,92618,US,332188,2024-04-13,ELEC
71450,33.655011,-117.745631,400 Spectrum Center Dr,CA,Irvine,92618,US,332189,2024-04-13,ELEC
71451,33.654859,-117.745682,400 Spectrum Center Dr,CA,Irvine,92618,US,332190,2024-04-13,ELEC
71453,37.660023,-121.902943,6870 Koll Center Pkwy,CA,Pleasanton,94566,US,332192,2024-04-13,ELEC

In [13]:
df_ca_stations.to_csv('CA_Stations.csv', index=False)

In [5]:
# Read the first CSV file
df1 = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/CA_EV_Registration_2020.csv')

# Read the second CSV file
df2 = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/CA_EV_Registration_2021.csv')

# Read the third CSV file
df3 = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/CA_EV_Registration_2022.csv')

# Concatenate the DataFrames vertically
result_df = pd.concat([df1, df2, df3], ignore_index=True)

# Filter the DataFrame to only include rows where the "Fuel" column is "Battery Electric"
battery_electric_df = result_df[result_df['Fuel'] == 'Battery Electric']

# Sort the filtered DataFrame by the "Date" column
sorted_battery_electric_df = battery_electric_df.sort_values(by='Date')

# Print the sorted DataFrame
sorted_battery_electric_df

C:\Users\marti\AppData\Local\Temp\ipykernel_10332\461460582.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/CA_EV_Registration_2020.csv')
C:\Users\marti\AppData\Local\Temp\ipykernel_10332\461460582.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/CA_EV_Registration_2021.csv')
C:\Users\marti\AppData\Local\Temp\ipykernel_10332\461460582.py:8: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('C:/Users/marti/OneDrive/Desktop/School/SMU-VIRT-DATA-PT-12-2023-U-LOLC/project3-alternating-current/csv/CA_EV_Registration_2022.csv')

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
20583,1/1/2020,92220,2007,Battery Electric,OTHER/UNK,Light,1
442267,1/1/2020,90270,2018,Battery Electric,OTHER/UNK,Light,3
442268,1/1/2020,90272,2018,Battery Electric,OTHER/UNK,Light,20
442269,1/1/2020,90274,2018,Battery Electric,OTHER/UNK,Light,24
442270,1/1/2020,90275,2018,Battery Electric,OTHER/UNK,Light,10
...,...,...,...,...,...,...,...
1524410,1/1/2022,92310,2022,Battery Electric,OTHER/UNK,Light,1
1524402,1/1/2022,92310,2021,Battery Electric,OTHER/UNK,Light,6
1524384,1/1/2022,92310,2020,Battery Electric,OTHER/UNK,Light,2
1523397,1/1/2022,92307,2019,Battery Electric,TESLA,Light,17
2002827,1/1/2022,OOS,<2008,Battery Electric,OTHER/UNK,Light,2

In [6]:
sorted_battery_electric_df = sorted_battery_electric_df [sorted_battery_electric_df['Zip Code'] != 'OOS']
sorted_battery_electric_df.to_csv('CA_EV_Registration_2020-2022.csv', index=False)
sorted_battery_electric_df

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
20583,1/1/2020,92220,2007,Battery Electric,OTHER/UNK,Light,1
442267,1/1/2020,90270,2018,Battery Electric,OTHER/UNK,Light,3
442268,1/1/2020,90272,2018,Battery Electric,OTHER/UNK,Light,20
442269,1/1/2020,90274,2018,Battery Electric,OTHER/UNK,Light,24
442270,1/1/2020,90275,2018,Battery Electric,OTHER/UNK,Light,10
...,...,...,...,...,...,...,...
1524519,1/1/2022,92311,2011,Battery Electric,OTHER/UNK,Light,2
1524410,1/1/2022,92310,2022,Battery Electric,OTHER/UNK,Light,1
1524402,1/1/2022,92310,2021,Battery Electric,OTHER/UNK,Light,6
1524384,1/1/2022,92310,2020,Battery Electric,OTHER/UNK,Light,2
1523397,1/1/2022,92307,2019,Battery Electric,TESLA,Light,17

In [7]:
# Merge the DataFrames on the 'zip' column
CA_EV_Registration_LatLong_df = pd.merge(sorted_battery_electric_df, df_ca_stations, on='Zip Code', how='inner')

# Print the merged DataFrame
CA_EV_Registration_LatLong_df

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles,latitude,longitude,street_address,state,city,country,id,open_date,fuel_type_code
0,1/1/2020,92220,2007,Battery Electric,OTHER/UNK,Light,1,33.931748,-116.945951,600 N Highland Springs Ave,CA,Banning,US,66638,2014-04-01,ELEC
1,1/1/2020,92220,2007,Battery Electric,OTHER/UNK,Light,1,33.924926,-116.899774,2140 W. Ramsey Street,CA,Banning,US,99127,2015-07-01,ELEC
2,1/1/2020,92220,2007,Battery Electric,OTHER/UNK,Light,1,33.911467,-116.868371,1475-1591 S Hargrave St,CA,Banning,US,160633,2020-06-12,ELEC
3,1/1/2020,92220,2007,Battery Electric,OTHER/UNK,Light,1,33.928077,-116.945267,6261 Joshua Palmer Way,CA,Banning,US,189890,2021-01-27,ELEC
4,1/1/2020,92220,2007,Battery Electric,OTHER/UNK,Light,1,33.929657,-116.946246,60 N. Highland Springs Drive,CA,Banning,US,194903,2011-12-29,ELEC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614066,1/1/2022,96091,2014,Battery Electric,OTHER/UNK,Light,1,41.084381,-122.718455,475 Coffee Creek Rd,CA,Coffee Creek,US,112928,2016-01-26,ELEC
614067,1/1/2022,96101,2015,Battery Electric,OTHER/UNK,Light,1,41.482442,-120.542075,304 S Main St,CA,Alturas,US,112839,2016-03-18,ELEC
614068,1/1/2022,96101,2015,Battery Electric,OTHER/UNK,Light,1,41.495392,-120.559776,1200 West 12th Street,CA,Alturas,US,190479,2021-05-23,ELEC
614069,1/1/2022,96101,2018,Battery Electric,OTHER/UNK,Light,1,41.482442,-120.542075,304 S Main St,CA,Alturas,US,112839,2016-03-18,ELEC
614070,1/1/2022,96101,2018,Battery Electric,OTHER/UNK,Light,1,41.495392,-120.559776,1200 West 12th Street,CA,Alturas,US,190479,2021-05-23,ELEC

In [9]:
CA_EV_Registration_LatLong_df = CA_EV_Registration_LatLong_df[['state', 'Zip Code', 'Date', 'Fuel', 'Vehicles', 'latitude', 'longitude']]

# Print the reordered DataFrame
CA_EV_Registration_LatLong_df

,state,Zip Code,Date,Fuel,Vehicles,latitude,longitude
0,CA,92220,1/1/2020,Battery Electric,1,33.931748,-116.945951
1,CA,92220,1/1/2020,Battery Electric,1,33.924926,-116.899774
2,CA,92220,1/1/2020,Battery Electric,1,33.911467,-116.868371
3,CA,92220,1/1/2020,Battery Electric,1,33.928077,-116.945267
4,CA,92220,1/1/2020,Battery Electric,1,33.929657,-116.946246
...,...,...,...,...,...,...,...
614066,CA,96091,1/1/2022,Battery Electric,1,41.084381,-122.718455
614067,CA,96101,1/1/2022,Battery Electric,1,41.482442,-120.542075
614068,CA,96101,1/1/2022,Battery Electric,1,41.495392,-120.559776
614069,CA,96101,1/1/2022,Battery Electric,1,41.482442,-120.542075
614070,CA,96101,1/1/2022,Battery Electric,1,41.495392,-120.559776

In [10]:
CA_EV_Registration_LatLong_df.rename(columns={'state': 'State', 'Vehicles': 'Vehicle Count', 'latitude':'Latitude', 'longitude': 'Longitude'}, inplace=True)

# Print the DataFrame
CA_EV_Registration_LatLong_df

C:\Users\marti\AppData\Local\Temp\ipykernel_10332\3540213743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CA_EV_Registration_LatLong_df.rename(columns={'state': 'State', 'Vehicles': 'Vehicle Count', 'latitude':'Latitude', 'longitude': 'Longitude'}, inplace=True)

,State,Zip Code,Date,Fuel,Vehicle Count,Latitude,Longitude
0,CA,92220,1/1/2020,Battery Electric,1,33.931748,-116.945951
1,CA,92220,1/1/2020,Battery Electric,1,33.924926,-116.899774
2,CA,92220,1/1/2020,Battery Electric,1,33.911467,-116.868371
3,CA,92220,1/1/2020,Battery Electric,1,33.928077,-116.945267
4,CA,92220,1/1/2020,Battery Electric,1,33.929657,-116.946246
...,...,...,...,...,...,...,...
614066,CA,96091,1/1/2022,Battery Electric,1,41.084381,-122.718455
614067,CA,96101,1/1/2022,Battery Electric,1,41.482442,-120.542075
614068,CA,96101,1/1/2022,Battery Electric,1,41.495392,-120.559776
614069,CA,96101,1/1/2022,Battery Electric,1,41.482442,-120.542075
614070,CA,96101,1/1/2022,Battery Electric,1,41.495392,-120.559776

In [12]:
CA_EV_Registration_LatLong_df.to_csv('CA_EV_Registration_LatLong_2020-2022.csv', index=False)